body {
  font-family: "Times New Roman", Times, serif;
}
html {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.container {
  padding-top: 10px;
  background-color: white;
  text-align: center;
  /* min-height: 680px; */
}
.title {
  color: #4d77ff;
  font-weight: bold;
  font-size: 24px;
}
/* .date-input {
      text-align: center;
      margin: 0 auto;
      
} */
.date-input input {
  height: 25px;
  text-align: center;
  top: 5px;
}
.date-input select {
  height: 30px;
}
.input-hsd {
  width: 55px;
}
.input-nsx {
  width: 55px;
}
.date-input p {
  font-size: 18px;
  color: #56bbf1;
  vertical-align: bottom;
  margin: 20px 0 5px 0 !important;
}
.date-output {
  text-align: center;
  padding-top: 20px;
}
.date-output button {
  font-size: 18px;
  font-weight: 600;
}
.calculator-button {
  text-align: center;
  margin: 0 auto;
  background-color: #f2fa5a;
  height: 40px;
  width: 120px;
  color: #4700d8;
  font-size: 14px;
  border-color: #f2fa5a;
  /* box-shadow: 2px 0 2px 0 #f2fa5a; */
  border-radius: 4px;
}
.show {
  padding-top: 20px;
  font-size: 28px;
}
.menu {
  padding-top: 20px;
  text-align: center;
}
.menu a {
  text-decoration: none;
  margin: 40px;
  color: #4809a7;
  font-size: 18px;
}
.donate img {
  height: 150px !important;
  width: 150px !important;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding-top: 10rem;
}
footer span {
  font-weight: 700;
}
footer a {
  text-decoration: none;
  color: rgb(12, 137, 226);
}
footer h2 {
  color: #f76707;
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 14px;
  }
  footer span {
    font-weight: 600;
  }
}
